<div class="form-group">
    <div class="row">
        <label for="descripcion" class="col-sm-2 control-label" required-field>Título: </label>
        <div class="col-sm-8"> 
            <input type="text" class="form-control" id="titulo" placeholder="titulo del grafico"
                required
                maxlength="500"
                ng-model="$ctrl.graphic.title"
                data-auto-focus>
        </div> 
        <div class="col-sm-2 pull-right"> 
            <a  ng-click="$ctrl.removeGraph()"> <i class="fa fa-trash"></i> Borrar Grafico</a>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
            <label for="descripcion" class="col-sm-2 control-label" required-field>Grafico: </label>
            <div class="col-sm-3">
                <select class="form-control" name="graphic_type" id="" ng-model="$ctrl.graphic.graphic_type" ng-change="$ctrl.updateSubGraphicType()">
                    <option value="line">Line</option>
                    <option value="pie">Pie</option>
                    <!--<option value="table">Tabla</option>-->
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-sm btn-primary" ng-click="$ctrl.addYAxis()">Agregar Axis Y</button>
            </div>
        </div>  

<hr>        
         <div class="col-sm-12" ng-repeat="yAxis in $ctrl.graphic.yAxises">
            <label for="descripcion" class="col-sm-2 control-label" required-field>Titulo Axis Y: </label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="yAxis.TITLE" required>
            </div>
            <label for="descripcion" class="col-sm-1 control-label">Sufijo </label>
            <div class="col-sm-2">
                <input class="form-control" type="text" ng-model="yAxis.SUFFIX" required>
            </div>
             <div class="col-sm-2">
                <input type="checkbox" ng-model="yAxis.OPPOSITE" ng-true-value="'1'" ng-false-value="'0'"> Opposite
            </div>
            <div class="col-sm-2"> 
                <a  ng-click="$ctrl.removeYAxis($index)"> <i class="fa fa-trash"></i></a>
            </div>
         </div>
     </div>
</div>
<div class="row">
    <div class="col-sm-1">
        <h5 class="box-title">Series: </h5>
    </div>
    <div class="col-sm-8">
       * Se encontraron {{$ctrl.graphic.series.length}} series en el Procedure
    </div>
</div> 

<table class="table table-striped">
    <tbody>
        <tr>
            <th style="width: 10px">#</th>
            <th>ELEMENTO</th>
            <th>SERIE NOMBRE</th>
            <th>TIPO GRAFICO</th>
            <th> Y Axis</th>
           
            
        </tr>
        <tr ng-repeat="serie in $ctrl.graphic.series">
            <td>#</td>
            <td>{{serie.NAME_FROM_PROCEDURE}}</td>
             <td>
                <input class="form-control" type="text" ng-model="serie.SERIE_NAME">
            </td>
            <td>
                <select  class="form-control" name="serie-tipo" id="" 
                        ng-model="serie.SUBGRAPHIC_TYPE"  
                        ng-disabled="$ctrl.subGraphicDisabled">
                    <option value="line">Linea</option>
                    <option value="spline">Spline</option>
                    <option value="column">Columna</option>
                    <option value="bar">Bar</option>
                    <option value="area">Area</option>
                </select>
            </td>
           
            <td>
               <select  class="form-control" 
                        ng-model="serie.YAXIS" 
                        ng-disabled="$ctrl.subGraphicDisabled"
                        >
                    <option value="0">Default Axis Y</option>
                    <option ng-repeat="item in $ctrl.graphic.yAxises" value="{{$index}}">{{item.TITLE}}</option>
                </select>
            </td>
            
           

        </tr>
    </tbody>
</table>
<!--<pre>
    {{$ctrl.graphic | json}}
</pre>-->