<div class="content row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border"
                 ng-switch="!!$ctrl.content.ID">
                <h3 class="box-title"
                    ng-switch-when="false">Creación de Contenidos</h3>
                <h3 class="box-title"
                    ng-switch-when="true">Edición de Contenidos</h3>
            </div>
            <form class="form-horizontal" name="form" validate>
                <div class="box-body">
                    <div class="form-group"
                         ng-show="!!$ctrl.content.ID">
                        <label for="descripcion"
                               class="col-sm-2 control-label">
                            Código
                        </label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{ $ctrl.content.ID | leftPad }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="descripcion" placeholder="Nombre"
                                   required
                                   maxlength="500"
                                   style="width: 60%"
                                   ng-model="$ctrl.content.NAME"
                                   data-auto-focus>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Reporte: </label>
                        <div class="col-sm-3">
                            <select name="reporte" 
                                    id="reporte" 
                                    ng-model="$ctrl.content.REPORT_ID" required
                                    ng-change="$ctrl.reportChange()">
                                    <option value="">Seleccione</option>
                                <option ng-repeat="report in $ctrl.reports" value="{{report.ID}}">{{report.NAME}}</option>
                            </select>
                        </div>

                        <label ng-if="$ctrl.subreports.length > 0" for="descripcion" class="col-sm-2 control-label">Sub Reporte: </label>
                        <div class="col-sm-3"  ng-if="$ctrl.subreports.length > 0">
                            <select required name="subreport" id="subreport" ng-model="$ctrl.content.SUBREPORT_ID" >
                                <option value="">Seleccione</option>
                                <option ng-repeat="item in $ctrl.subreports" value="{{item.ID}}">{{item.NAME}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Queries: </label>
                        <div class="col-sm-6">
                            <p> Use los los siguientes parametros permitidos: </p>    
                            <p> <b>@param1</b> año seleccionado</p>
                            <p> <b>@param2</b> semana seleccionado</p>
                        </div>
                        <div class="field-group col-sm-offset-2 col-sm-9">

                            <div class="field-group-item col-sm-12" ng-repeat="item in $ctrl.content.queries track by $index">
                                <div class="col-sm-1">
                                   #{{$index + 1}}
                                </div>
                                <div class="col-sm-9">
                                    <textarea type="text" placeholder="select * from ..." class="form-control" required ng-model="$ctrl.content.queries[$index]"></textarea>
                                </div>
                                <div class="col-sm-2"> 
                                    <a  ng-click="$ctrl.removeQuery($index)"> <i class="fa fa-trash"></i></a>
                                </div>
                            </div>

                            <div class="field-group-button col-sm-3">
                                 <a class="btn btn-block btn-success btn-sm"  ng-click="$ctrl.addQuery()">Agregar Query</a>
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="descripcion"
                            class="col-sm-2 control-label"
                            required-field>Gráficos: </label>
                    <div class="col-sm-5">
                        <p>* Debe tener Queries agregados</p>
                    </div>
                    <div ng-if="$ctrl.content.queries.length > 0" class="field-group col-sm-offset-2 col-sm-9">
                        <div class="field-group-item with-border-button col-sm-12" ng-repeat="graph in $ctrl.content.graphs track by $index">
                            <div class="col-sm-3">
                                Usar Query # 
                                <select name="graph" id="" ng-model="graph.query_index">
                                    <option ng-repeat="query in $ctrl.content.queries track by $index" value="{{$index}}">{{$index + 1}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                Tipo grafico:
                                <select name="graphic_type" id="" ng-model="graph.graphic_type">
                                    <option value="lineal">lineal</option>
                                    <option value="Pie">Pie</option>
                                    <option value="Tabal">Tabal</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                Unidad: 
                                <input type="text" ng-model="graph.und">
                            </div>
                            <div class="col-sm-2"> 
                                    <a  ng-click="$ctrl.removeGraph($index)"> <i class="fa fa-trash"></i> Borrar Grafico</a>
                            </div>
                            <!--inicia Serie -->
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        <p>:::Series:</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class=""  ng-click="$ctrl.addSerie(graph.series)">Agregar Serie</a>
                                    </div>
                                </div>
                                <div class="group-serie col-sm-12">

                                    <div class="group-serie-item col-sm-12" ng-repeat="serie in graph.series track by $index">
                                        <div class="col-sm-3">
                                            Tipo <select name="serie-tipo" id="" ng-model="serie.SUBGRAPHIC_TYPE">
                                                <option value="linea">Linea</option>
                                                <option value="barra">Barra</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            Etiqueta <input type="text" ng-model="serie.NAME">
                                        </div>
                                        <div class="col-sm-4">
                                            Columna: <input type="text" ng-model="serie.COLUMNA">
                                        </div>
                                        <div class="col-sm-1"> 
                                            <a  ng-click="$ctrl.removeSerie(graph.series, $index)"> <i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                            </div>
                            <!--Fin Serie -->
                        </div>
                        <div class="col-sm-3">
                                <a class="btn btn-block btn-success btn-sm"  ng-click="$ctrl.addGraph()">Agregar Grafico</a>
                        </div>
                        
                    </div>
                </div>




                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right" ng-click="$ctrl.save(form)">Guardar</button>
                    <button type="submit" class="btn btn-default" ng-click="$ctrl.backToList()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
