<div class="content row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border"
                 ng-switch="!!$ctrl.content.ID">
                <h3 class="box-title"
                    ng-switch-when="false">Creación de Contenidos</h3>
                <h3 class="box-title"
                    ng-switch-when="true">Edición de Contenidos</h3>
            </div>
            <form class="form-horizontal" name="form" validate>
                <div class="box-body">
                    <div class="form-group"
                         ng-show="!!$ctrl.content.ID">
                        <label for="descripcion"
                               class="col-sm-2 control-label">
                            Código
                        </label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{ $ctrl.content.ID | leftPad }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Nombre: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="descripcion" placeholder="Nombre"
                                   required
                                   maxlength="500"
                                  
                                   ng-model="$ctrl.content.NAME"
                                   data-auto-focus>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Reporte: </label>
                        <div class="col-sm-2">
                            <select name="reporte"  class="form-control"
                                    id="reporte" 
                                    ng-model="$ctrl.content.REPORT_ID" required
                                    ng-change="$ctrl.reportChange()">
                                    <option value="">Seleccione</option>
                                <option ng-repeat="report in $ctrl.reports" value="{{report.ID}}">{{report.NAME}}</option>
                            </select>
                        </div>

                        <label ng-if="$ctrl.subreports.length > 0" for="descripcion" class="col-sm-2 control-label">Sub Reporte: </label>
                        <div class="col-sm-2"  ng-if="$ctrl.subreports.length > 0">
                            <select class="form-control" required name="subreport" id="subreport" ng-model="$ctrl.content.SUBREPORT_ID" >
                                <option value="">Seleccione</option>
                                <option ng-repeat="item in $ctrl.subreports" value="{{item.ID}}">{{item.NAME}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Procedure: </label>
                        
                        <div class="col-sm-6"> 
                            <input type="text" class="form-control" id="procedure" placeholder="Ingrese el store procedure"
                                   required
                                   maxlength="500"
                                  
                                   ng-model="$ctrl.content.PROCEDURE"
                                   data-auto-focus>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Rango Sem.: </label>
                        
                        <div class="col-sm-6"> 
                            <input type="text" class="form-control" id="rango-semana" placeholder="Numero de semanas"
                                   required
                                   maxlength="500"
                                  
                                   ng-model="$ctrl.content.WEEKSRANGE"
                                   data-auto-focus>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="descripcion"
                               class="col-sm-2 control-label"
                               required-field>Campos: </label>
                        
                        <div class="col-sm-6"> 
                            <multi-tag placeholder="Campos del select" selection="$ctrl.content.FIELDS"></multi-tag>
                        </div> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"for="descripcion" required-field>Gráficos: </label>
                    <div class="graphic-group col-sm-8">
                        <graphic-field-component ng-repeat="graphic in $ctrl.content.graphs" 
                                                 graphic="graphic"
                                                 on-remove-graphic="$ctrl.removeGraph($index)"  ></graphic-field-component>
                    </div>

                    <div class="col-sm-3 col-sm-offset-2">
                        <a class="btn btn-block btn-success btn-sm"  ng-click="$ctrl.addGraph()">Agregar Grafico</a>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right" ng-click="$ctrl.save(form)">Guardar</button>
                    <button type="submit" class="btn btn-default" ng-click="$ctrl.backToList()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>