
<section class="content-header">
  <h1>  Generador de Reportes  </h1>
</section>
<section class="content">
  <div class="row">

    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Reportes</h3>
        </div>
        <div class="box box-solid">
          <report-menu-component on-click="$ctrl.selectContent(content)"> </report-menu-component>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>

          <div class="col-sm-10 box-tools pull-right">
            <label for="descripcion" class="col-sm-1 control-label">Año: </label>
            <div class="col-sm-4">
                <select class="form-control" ng-change="$ctrl.generateGraphicsFromContent()"
                        ng-model="$ctrl.filtros.year" ng-options="item for item in $ctrl.yearList">
                </select>
            </div>
            <label for="descripcion" class="col-sm-1 control-label">Semana: </label>
            <div class="col-sm-4">
                <select class="form-control" ng-change="$ctrl.generateGraphicsFromContent()"
                        ng-model="$ctrl.filtros.week" 
                        ng-options="item.id as item.text for item in $ctrl.weekList">
                </select>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          
          <div class="col-sm-10">
            <div class="selected-filters">
              <b>Filtros seleccionados: </b>
              <span class="selected-option "> Año: {{$ctrl.filtros.year}}</span>
              <span class="selected-option ">Semana: {{$ctrl.filtros.week}}</span>
              <span class="selected-option ">Contenido: {{$ctrl.filtros.content_name}}</span>
            </div>
          </div>
          
          <hr>

          <div class="col-sm-12" ng-if="$ctrl.filtros.content_name == ''">
           <div class="alert alert-info alert-dismissible">
                * Seleccione un contenido para mostrar graficos por semana y año.
            </div>
          </div>
          <div class="col-sm-12"  ng-show="$ctrl.isLoading">
            <div class="alert alert-info alert-dismissible">
                * Generando graficos ... 
            </div>
          </div>

           <div class="col-sm-12"  ng-show="$ctrl.graphics.length < 1 && $ctrl.filtros.content_id && !$ctrl.isLoading">
            <div class="alert alert-warning alert-dismissible">
                * No se encontraron gráficos que mostrar
            </div>
          </div>

          <div ng-if="!$ctrl.isLoading" ng-repeat="graphic in $ctrl.graphics">
              <graphic-component graphic="graphic" data="$ctrl.data"></graphic-component>
          </div>

          

        </div>
        <!-- /.box-body -->
      
      </div>
      <!-- /. box -->
    </div>
  </div>
</section>