<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MENÚ PRINCIPAL</li>
    
    <li class="treeview">
        <a href="">
            <i class="fa fa-users"></i> <span>Mantenimientos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#/reportes"><i class="fa fa-circle-o"></i>Reportes</a></li>
            <li><a href="#/contenidos"><i class="fa fa-circle-o"></i>Contenidos</a></li>
            <li><a href="#/comentarios"><i class="fa fa-circle-o"></i>Comentarios</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-cog"></i> <span>Generador </span> <i class="fa fa-angle-left pull-right"></i> </a>
        <ul class="treeview-menu">
            <li> <a href="#/generador"> <i class="fa fa-circle-o"></i> Reportes </a>  </li>
        </ul>
    </li>
</ul>