<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MENÚ PRINCIPAL</li>
    <li> <a href="#/"> <i class="fa fa-th"></i> <span>Tickets</span> </a> </li>
    <li class="treeview">
        <a><i class="fa fa-cog"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i> </a>
        <ul class="treeview-menu">
            <li> <a href="#/internalClients"> <i class="fa fa-circle-o"></i> Listado de Reportes </a>  </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="">
            <i class="fa fa-users"></i> <span>Mantenimientos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#/upload"><i class="fa fa-circle-o"></i>KPI</a></li>
            <li><a href="#/bulkUpdate"><i class="fa fa-circle-o"></i>Servicios</a></li>
            <li><a href="#/bulkDelete"><i class="fa fa-circle-o"></i>NE</a></li>
        </ul>
    </li>
</ul>