select, input , textarea,
.ui-select-choices li ,
ad-table-ajax tbody, .form-control-static{
    // text-transform: uppercase;
}

// Required marker color
$required-marker-color: #b94a48;

.ui-select-element {
    .btn-default{
        background: #FFF;
    }
}

.message {
    position: fixed;
    width: 40%;
    right: 0;
    top: 50px;
    margin: 5px;
    z-index: 9999;
}

.required-field-marker {
    color: $required-marker-color;
    margin-left: 3px;
}

.container-zones-list {
    a.btn {
        padding: 0;
    }
    span {
      display: inline-block;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    display: block;
    height: 600px;
    overflow-y: scroll;
}

.user-panel {
  min-height: 50px;
  .info {
    left: initial;
    padding-left: 0;
  }
}

.btn-header, .btn-left {
  .btn {
    padding: 0;
  }
}

/* ---- Bootstrap fix ----*/
.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

/* Records Grid */

.grid {
  width: 100%;
  height: 250px;
}

.grid-msg-overlay {
  position: absolute;
  top: 90px;
  margin-left: 10px;
}

.grid-msg-overlay span {
  display: table-cell;
  vertical-align: middle;
}

.record-header h3 {
  margin-top: 0;
}

.record-form {
  textarea {
    max-width: 200%
  }
  .box-group .box {
    padding: 5px 0;
  }
}

@font-face {
  font-family: codeBarFont;
  src: url(/core/3OF9_NEW.TTF);
}

.codeBarColumn {
  font-family: codeBarFont;
  font-size: 30px;
  margin: 10px 0;

  transform:scale(1,2); /* W3C */
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #0154a0;
}
@media (max-width: 767px) {
 
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #0154a0;
  }
}

.skin-blue .main-header .logo {
  background-color: #0154a0;

}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #0154a0;
}

@media (max-width: 767px) {
  .skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
    background: #0154a0;
  }
}

.skin-blue .main-header .navbar {
    background-color: #0154a0;
}

.graphic-group {
  graphic-field-component {
     background: #fbfbfb;
    border: 1px solid #ccc;
    padding: 15px;
    display: block;
  }
 
}

.content-click {
  cursor: pointer;
  &:hover {
    background: #ccc;
  }
}
.comment-group {
   max-height: 300px;
    overflow: scroll;
    min-height: 150px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.comment-item {
  .username, .description {
    margin-left: 0;
  }
}
.selected-filters {
  padding: 10px 0;
      margin-bottom: 30px;
  .selected-option {  
    border: 1px solid #f9f9f9;
    background: #eaeaea;
    border-radius: 5px;
    padding: 5px;
    margin: 0 3px;
    display: inline-block;
    box-shadow: 1px 1px 1px #ccc;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
  }
}
.subreports-item {
      margin: 5px 0;
}

.comment-edit {
  float: left;
}